@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");
* {
  text-decoration: none;
  scrollbar-width: none;
}
html {
  height: 100%;
}
body {
  overflow: scroll;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

#root {
  height: 100%;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 25.3531px;
}

.home {
  height: 100%;
}

.home--nav {
  display: flex;
  padding: 10px 27px;
  justify-content: space-between;
  background-color: #fff7ed;
}

.home--nav p {
  color: black;
}

.home--nav--a {
  display: flex;
  align-items: center;
}

.home--nav--links {
  display: flex;
  gap: 20px;
}

.home--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 42px;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url(./assets/image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.home--content p {
  margin: 0px;
  padding: 20px;
}

.home--content--btn {
  width: 40%;
  color: azure;
  background-color: #ff8c38;
  border-radius: 5px;
  border-style: none;
  margin-top: 40px;
  padding: 20px;
  cursor: pointer;
  font-weight: bolder;
  font-size: larger;
}

.home--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  color: #aaaaaa;
  height: 50px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

/* 


Vans Page Code 


*/

.vans {
  height: 100%;
}

.vans--content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vans--content--btns--container {
  display: flex;
  gap: 50px;
}

.vans--content--btn {
  width: 100px;
  color: #4d4d4d;
  background-color: #ffead0;
  border-radius: 5px;
  border-style: none;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bolder;
  gap: 20px;
}

.vans--content--card--container {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: scroll;
  justify-items: center;
  margin-top: 20px;
}
.vans--content--card--container:hover {
  scrollbar-width: auto;
}

.van--card p {
  color: #252525;
}

.van--card--image {
  max-width: 200px;
  max-height: 200px;
}

.van--detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin: 20px auto 10px auto;
  width: fit-content;
}

.van--detail--image {
  max-width: 500px;
  max-height: 500px;
}

.van--detail--type {
  background: #e17654;
  border-radius: 5px;
  padding: 10px 16px;
  width: 80px;
  text-align: center;
  color: #fff7ed;
  position: relative;
  left: -197px;
}

.van--detail--name {
  align-self: flex-start;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  /* max-width: 500px; */
  width: 100%;
}

.van--detail--price {
  position: relative;
  left: -221px;
}

.van--detail--description {
  max-width: 500px;
  padding: 0px 5px;
}

/* 

Host Page

*/

.host--nav {
  display: flex;
  background-color: #fff7ed;
  gap: 20px;
  padding-left: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.host--nav p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #4d4d4d;
}

.host--nav p:hover {
  font-weight: bolder;
  text-decoration: underline;
}

.host--vans-background {
  height: 75%;
  background-color: #fff7ed;
  padding-top: 20px;
}

.host--vans--wrapper {
  margin: 40px;
}

.host--vans--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  width: 500px;
  height: 100px;
  margin: 0px auto;
  border-radius: 7px;
  background-color: white;
}

.host--vans--image {
  max-width: 70px;
  max-height: 70px;
}

.host--vans--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px 10px;
}

.host--vans--info > p,
.host--vans--info > h3 {
  margin: 0px;
  color: black;
}

.host--vans--btn {
  border-style: none;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

/* 


Host Van Detail Page


*/

.host--vandetail {
  height: 100%;
  padding: 1px;
  background-color: #fff7ed;
}

.host--vandetail--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 50%;
  margin: 0px auto;
  margin-top: 20px;
  background-color: #ffffff;
}

.host--vandetail--container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 50%;
  margin: 0px auto;
}

.host--vandetail--image {
  max-width: 200px;
  max-height: 200px;
}

.host--vandetail--info--type {
  background-color: #ff8c38;
  width: fit-content;
  color: #ffead0;
  padding: 7px;
  border-radius: 5px;
}

.host--vandetail--info--name {
  font-weight: bolder;
}

.host--vandetail--nav {
  display: flex;
  /* justify-content: start; */
  width: 100%;
  gap: 20px;
  padding-left: 40px;
}

.host--vandetail--nav p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16.1492px;
  line-height: 21px;
  color: #252525;
}

.host--vandetail--wrapper h4 {
  align-self: flex-start;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16.1492px;
  line-height: 21px;
  padding: 0px 20px;
}

.host--vansdetail--photo {
  max-width: 100px;
  max-height: 100px;
  align-self: flex-start;
  padding: 20px;
}

.host--vandetail--price {
  align-self: flex-start;
  padding: 0px 0px 10px 20px;
  margin: 0px;
}
